
.contentCard{
    display: flex;
    padding: 1rem;
}

.feature_list{
    display: flex;
    justify-content: flex-start;
}

/* li{
    padding-left: 2rem;
    list-style: none;
} */

.unordered-style{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
    color: hsl(240, 1%, 45%);
}

.list-style{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.hotelDetails{
    display: flex;
    flex-direction : column;   
}
