.btn{
    align-items: center;
    background: #fff;
    height: 2rem;
    border: 1px solid #8B8B8B;
    border-radius: 2500rem;
    display: flex;
    width: 2rem;
    cursor: pointer;
    justify-content: center;   
    margin-left: 1rem; 
}