
.maincontainer {
  border: gray;
  height: 30rem;
  width: 50rem;
  margin-top: 1px;
  background-color: #ddd;
  border-radius: 10px;
}

.contentmain {
  margin-left: 20px;
  padding-top: 20px;
}

.item {
  display: flex;
  gap: 10%;
  margin-top: 10px;
  margin-left: 0px;
}

p {
  padding: 10px;
}

.checked {
  color: orange;
}
