/* Tabs.css */

.tabs-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .tab-buttons {
    position: sticky;
    top: 4rem;
    /* left: 0; */
    display: flex;
    background-color: #ccc;
    box-shadow: rgba(82, 61, 61, 0.3);
    padding: 10px;
    width: 100%;
    z-index: 1;
  }
  
  .tab-buttons button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 2px solid transparent; 
    flex: 1; 
    text-align: center;
  }
  
  .tab-buttons button.active {
    border-bottom: 2px solid #333; 
  }
  
  .tab-buttons button:hover {
    background-color: #ddd;
  }

  .tab-content {
    margin-top: 50px;
  }
  
  .tab-content > div {
    padding: 2rem;
    border-bottom: 1px solid #ccc;
    /* display: none; */
  }

  
  .tab-content > div.active {
    display: block; /* Display the active tab content */
    margin-top: 20px; /* Add proper margin above the active tab content */
  }